{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>admin-dashboard</h1>
        <div class="cardwrapper">
            <div class="w3-card step">
            <h3>voeg toe:</h3>
                <a href="{{ path('camps_create') }}" class="w3-margin w3-button w3-border">Kamp</a>
                <a href="{{ path('recipes_create') }}" class="w3-margin w3-button w3-border">Recept</a>
                <a href="{{ path('ingredients_create') }}" class="w3-margin w3-button w3-border">Ingredient</a>
                <a href="{{ path('singlevalue_create', {theme: 'herb'}) }}" class="w3-margin w3-button w3-border">Kruid</a>
                <a href="{{ path('singlevalue_create', {theme: 'rayon'}) }}" class="w3-margin w3-button w3-border">Rayon</a>
                <a href="{{ path('singlevalue_create', {theme: 'recipeType'}) }}" class="w3-margin w3-button w3-border">Recept Type</a>
                <a href="{{ path('singlevalue_create', {theme: 'recipeCategory'}) }}" class="w3-margin w3-button w3-border">Recept Categorie</a>
                <a href="{{ path('singlevalue_create', {theme: 'unit'}) }}" class="w3-margin w3-button w3-border">Ingredient eenheid</a>
                <a href="{{ path('singlevalue_create', {theme: 'mealMoment'}) }}" class="w3-margin w3-button w3-border">Maaltijdmoment</a>
            <h3>bekijk alle:</h3>
                <a href="{{ path('users_index') }}" class="w3-margin w3-button w3-border">Gebruikers</a>
                <a href="{{ path('recipes_index') }}" class="w3-margin w3-button w3-border">Recepten</a>
                <a href="{{ path('ingredients_index') }}" class="w3-margin w3-button w3-border">Ingredienten</a>
                <a href="{{ path('camps_index', {time: 'admin_all'}) }}" class="w3-margin w3-button w3-border">Kampen</a>
            <h3>jouw kampen:</h3>
                <a href="{{ path('camps_index', {time: 'past'}) }}" class="w3-margin w3-button w3-border">Afgelopen</a>
                <a href="{{ path('camps_index', {time: 'now'}) }}" class="w3-margin w3-button w3-border">Lopende</a>
                <a href="{{ path('camps_index', {time: 'future'}) }}" class="w3-margin w3-button w3-border">Geplande</a>
            </div>
        </div>
    </div>
{% endblock %}