{% extends 'boxes.html.twig' %}

{% block body %}
    <div class="contentwrapper">

        {# title #}
        {% if mode == "add" %}
            <h1>voeg een ingredient toe</h1>
        {% elseif mode == "update" %}
            <h1>pas de informatie van het ingredient {{value.name}} aan</h1></p>
        {% endif %}

        {# all cards #}
        <div class="cardwrapper">
            {% if mode == "add" %}
                <div class="w3-card step showall">
                    <h3>Deze waarden zitten al in de database:</h3>
                    <input type="text" class="w3-input filterBy" placeholder="zoek een ingredient ...">
                    <div class="scrollbox">
                        <ul class="w3-ul">
                            {% for value in values %}
                                <li>{{value.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="w3-card step generalInformation">
                <h3>algemene info</h3>

                <input type="text" id="name" name="name" class="w3-input" placeholder=
                {% if mode == "update" %}
                    "ingredient: {{value.name}}" disabled
                {% else %}
                    "naam ingredient"
                {% endif %}>

                <input type="text" id="suggestion" name="suggestion" class="w3-input" placeholder="recept tip (optioneel)"
                {% if mode == "update" %}
                    value="{{value.suggestion}}"
                {% endif %}
                >

                <select class="w3-select w3-border" id="unit" name="unit">
                    <option class="selectUnit" value="default" disabled selected>eenheid</option>
                    {% for unit in units %}
                        <option class="selectUnit" value="{{unit.name}}"
                        {% if mode == "update" %}
                            {% if unit.name == value.unit.name %}
                                selected
                            {% endif %}
                        {% endif %}
                        >{{unit.name}}</option>
                    {% endfor %}
                </select>

                <select class="w3-select w3-border" id="rayon" name="rayon">
                    <option class="selectRayon" value="default" disabled selected>rayon</option>
                    {% for rayon in rayons %}
                        <option class="selectRayon" value="{{rayon.name}}"
                        {% if mode == "update" %}
                            {% if rayon.name == value.rayon.name %}
                                selected
                            {% endif %}
                        {% endif %}
                        >{{rayon.name}}</option>
                    {% endfor %}
                </select>
            </div>

            {# card for the confirmation and errors #}
            <div class="w3-card step recipe">
                <button class="confirm">
                    {% if mode == "update" %}
                        Pas dit ingredient aan
                    {% else %}
                        Sla dit ingredient op
                    {% endif %}
                </button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if mode == "update" %}
        <script>
            var slug = "{{value.name}}";
        </script>
        <script src="{{ asset('js/updateIngredient.js') }}"></script>
    {% elseif mode == "add" %}
        <script src="{{ asset('js/addIngredient.js') }}"></script>
    {% endif %}
{% endblock %}
