{% extends 'boxes.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>Pas het ingredient {{value.name}} aan</h1>
        
        <div class="cardwrapper">
            <div class="w3-card step generalInformation">
                <h3>gegevens van het ingredient: {{value.name}}</h3>
                <input type="text" id="suggestion" name="suggestion" class="w3-input" placeholder="recept tip (optioneel)" value="{{value.suggestion}}">

                <select class="w3-select w3-border" id="unit" name="unit">
                    <option class="selectUnit" value="default" disabled selected>kies je eenheid</option>
                    {% for unit in units %}
                        {% if unit.name == value.unit.name %}
                            <option class="selectUnit" value="{{unit.name}}" selected>{{unit.name}}</option>
                        {% else %}
                            <option class="selectUnit" value="{{unit.name}}">{{unit.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select class="w3-select w3-border" id="rayon" name="rayon">
                    <option class="selectRayon" value="default" disabled>kies je rayon</option>
                    {% for rayon in rayons %}
                        {% if rayon.name == value.rayon.name %}
                            <option class="selectRayon" value="{{rayon.name}}" selected>{{rayon.name}}</option>
                        {% else %}
                            <option class="selectRayon" value="{{rayon.name}}">{{rayon.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <!-- confirmation and errors -->
            <div class="w3-card step recipe">
                <button class="confirm">Pas dit ingredient aan</button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var slug = "{{value.name}}";
    </script>
    <script src="{{ asset('js/updateIngredient.js') }}"></script>
{% endblock %}
