{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig'%}

{% block body %}
    <div class="contentwrapper">
        <h1>ingredientenlijst voor een kamp</h1>
            
        <div class="cardwrapper">
            <div class="w3-card step">
                <p> {{camp.name}} - {{camp.nrOfParticipants}} deelnemers </p>
                <p> van: {{camp.startTime|date("d/m/Y - H:i")}}  - tot: {{camp.endTime|date("d/m/Y - H:i")}} </p>
                <div id="supplies"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('supplies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if camp is defined %}
            window.currentCamp = '{{ camp.id|e('js') }}';
        {% endif %}
    </script>
    {{ encore_entry_script_tags('supplies') }}
    <script src="{{ asset('js/sorttable.js') }}"></script>
{% endblock %} 