{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/addrecipe.min.css') }}">
{% endblock %}

{% block body %}
    <div class="contentwrapper">
    <h1>voeg een ingredient toe</h1>
    
    <div class="cardwrapper">
        <div class="inputwrapper">
            <div class="w3-card step generalInformation">
                <h3>algemene info</h3>
                <input type="text" id="name" name="name" class="w3-input" placeholder="naam ingredient">
                <input type="text" id="suggestion" name="suggestion" class="w3-input" placeholder="recept tip (optioneel)">
                {# <select class="w3-select w3-border" id="round" name="round">
                    <option class="selectRound" value="default" disabled selected>mag de hoeveelheid afgerond worden?</option>
                    <option class="selectRound" value="yes">ja</option>
                    <option class="selectRound" value="no">nee</option>
                </select> #}

                <select class="w3-select w3-border" id="unit" name="unit">
                    <option class="selectUnit" value="default" disabled selected>eenheid</option>
                    <option class="selectUnit" value="kg">kg</option>
                    <option class="selectUnit" value="krop(pen)">krop(pen)</option>
                    <option class="selectUnit" value="bussel">bussel</option>
                    <option class="selectUnit" value="blik(ken)">blik(ken)</option>
                    <option class="selectUnit" value="stuk(s)">stuk(s)</option>
                    <option class="selectUnit" value="liter">liter</option>
                    <option class="selectUnit" value="bolletje">bolletje</option>
                    <option class="selectUnit" value="tas">tas</option>
                    <option class="selectUnit" value="blokje">blokje</option>
                    <option class="selectUnit" value="blik">blik</option>                                              
                </select>

                <select class="w3-select w3-border" id="rayon" name="rayon">
                    <option class="selectRayon" value="default" disabled selected>rayon</option>
                    {% for rayon in rayons %}
                        <option class="selectRayon" value="{{rayon.name}}">{{rayon.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- confirmation and errors -->
            <div class="w3-card step recipe">
                <button class="confirm">Joepie, alweer een ingredientje bij!</button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/createIngredient.js') }}"></script>
{% endblock %}
