{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <div class="cardwrapper">
            <div class="w3-card step">
            <h3>voeg toe:</h3>
                <a href="{{ path('add_camp') }}" class="w3-margin w3-button w3-border">Kamp</a>
                <a href="{{ path('add_recipe') }}" class="w3-margin w3-button w3-border">Recept</a>
                <a href="{{ path('add_ingredient') }}" class="w3-margin w3-button w3-border">Ingredient</a>
                <a href="{{ path('add_single', {slug: 'herb'}) }}" class="w3-margin w3-button w3-border">Kruid</a>
                <a href="{{ path('add_single', {slug: 'rayon'}) }}" class="w3-margin w3-button w3-border">Rayon</a>
                <a href="{{ path('add_single', {slug: 'recipeType'}) }}" class="w3-margin w3-button w3-border">Recept Type</a>
                <a href="{{ path('add_single', {slug: 'recipeCategory'}) }}" class="w3-margin w3-button w3-border">Recept Categorie</a>
                <a href="{{ path('add_single', {slug: 'unit'}) }}" class="w3-margin w3-button w3-border">Ingredient eenheid</a>
                <a href="{{ path('add_single', {slug: 'mealMoment'}) }}" class="w3-margin w3-button w3-border">Maaltijdmoment</a>
            <h3>bekijk alle:</h3>
                <a href="{{ path('show_recipes') }}" class="w3-margin w3-button w3-border">Recepten</a>
                <a href="{{ path('show_ingredients') }}" class="w3-margin w3-button w3-border">Ingredienten</a>
                <a href="{{ path('show_camps', {slug: 'past'}) }}" class="w3-margin w3-button w3-border">Jouw afgelopen kampen</a>
                <a href="{{ path('show_camps', {slug: 'now'}) }}" class="w3-margin w3-button w3-border">Jouw lopende kampen</a>
                <a href="{{ path('show_camps', {slug: 'future'}) }}" class="w3-margin w3-button w3-border">Jouw leplande kampen</a>
            </div>
        </div>
    </div>
{% endblock %}