{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig'%}

{% block body %}
    <div class="contentwrapper">

        {# title #}
        <h1>voeg hier je maaltijd toe</h1>
        {# all cards #}
        <div class="cardwrapper">
            <div class="w3-card step horScrollbox wrap">
                <h4>kamp: {{camp.name}}</h4>
                <p>dag {{mealday}} - {{meal}}</p>
                <p>Kies een maaltijdnaam en voeg recepten toe aan je menu.</p>
                <input type="text" id="name" class="w3-input" placeholder="naam van de maaltijd">
                <button class="confirm">
                    Sla deze maaltijd op
                </button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
                <p>
                    <label class="switch recipes">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    toon enkel geselecteerde recepten
                </p>
                {% block filtertable %}
                    {{ parent() }}
                {% endblock %}
                {% block table_all_recipes %}
                    {% set nrOfEaters = camp.nrOfParticipants %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let meal = {};
        meal["mealmoment"] = "{{meal}}"
        meal["mealday"] = "{{mealday}}"
        meal["campid"] = "{{camp.id}}"
        const redirect = "{{ path('show_camp_calendar', {slug: camp.name, camp: camp.id}) }}";
    </script>
    <script src="{{ asset('js/sorttable.js') }}"></script>
    <script src="{{ asset('js/meal.js') }}"></script>
{% endblock %}
