{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig'%}

{% block body %}
    <div class="contentwrapper">

        {# title #}
        <h1>Jouw maaltijd:</h1>
        {# all cards #}
        <div class="cardwrapper">
            <div class="w3-card step">
                <h4>Jouw recepten:</h4>
                <ul>
                {% for course in courses %}
                    <p>{{ course.recipe.name }}</p>
                    {% for ingr in course.recipe.ingredients %}
                        <li>{{ ingr.quantity*nrOfEaters }} {{ingr.ingredient.unit.name}} {{ingr.ingredient.name}}</li>
                    {% endfor %}
                    <a onclick="document.getElementById('details{{course.recipe.name}}').style.display='block'"><i class="fas fa-eye"></i></a>
                    <div id="details{{course.recipe.name}}" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-card">
                                <span
                                    onclick="document.getElementById('details{{course.recipe.name}}').style.display='none'"
                                    class="w3-button w3-display-topright"
                                >&times;</span>
                                <h5>{{course.recipe.name}}</h5>
                                <span><i>{{course.recipe.suggestion}}</i></span>
                                <h6>ingredienten(voor {{nrOfEaters}} personen)</h6>
                                <ul>
                                    {% for ingr in course.recipe.ingredients %}
                                        <li>{{ingr.quantity*nrOfEaters}} {{ingr.ingredient.unit.name}} {{ingr.ingredient.name}}</li>
                                    {% endfor %}
                                </ul>
                                <h6>kruiden</h6>
                                <ul>
                                    {% for herb in course.recipe.recipeherb %}
                                        <li>{{herb.herb.name}}</li>
                                    {% endfor %}
                                </ul>
                                <h6>bereidingswijze</h6>
                                <p>{{course.recipe.instructions|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </ul>
            </div>
            <div class="w3-card step">
                <h4>Jouw boodschappen:</h4>
                {% set rayon = "" %}
                <ul>
                {% for ingredient in ingredients %}
                    {% if rayon != ingredient.r_name %}
                        </ul>
                        <p>{{ingredient.r_name}}</p>
                        <ul>
                        {% set rayon = ingredient.r_name %}
                    {% endif %}
                    <li>{{ ingredient.quantity*1 }} {{ingredient.u_name}} {{ingredient.name}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# <script>
        let meal = {};
        meal["mealmoment"] = "{{meal}}"
        meal["mealday"] = "{{mealday}}"
        meal["campid"] = "{{camp.id}}"
    </script>
    <script src="{{ asset('js/sorttable.js') }}"></script>
    <script src="{{ asset('js/meal.js') }}"></script> #}
{% endblock %}
