{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">

    {# title #}
    {% if mode == "add" %}
        <h1>voeg een recept toe</h1>
    {% elseif mode == "update" %}
        <h1>pas de informatie van het recept {{value.name}} aan</h1>
    {% elseif mode == "show" %}
        <h1>Recept van {{value.name}}</h1>
    {% endif %}
    
    {# all cards #}
    <div class="cardwrapper">
        {% if mode == "add" %}
            {% block show_all_names %}
                {% set name = "recept" %}
                {{ parent() }}
            {% endblock %}
        {% endif %}

        <div class="w3-card step generalInformation">
            {% if mode == "update" or mode == "add" %}
                <h3>algemene info</h3>
                <input type="text" id="name" name="name" class="w3-input" placeholder=
                {% if mode == "update" %}
                    "recept: {{value.name}}" disabled
                {% else %}
                    "naam recept"
                {% endif %}>
            {% elseif mode == "show" %}
                <h4>{{value.name}}</h4>         
            {% endif %}

            {% if mode == "update" or mode == "add" %}
                <input type="text" id="suggestion" name="suggestion" class="w3-input" placeholder="recept tip (optioneel)"
                {% if mode == "update" %}
                        value="{{value.suggestion}}"
                {% endif %}
                >
            {% elseif mode == "show" %}
                <h4>suggestion:</h4>
                <p>{{value.suggestion}}</p>
            {% endif %}

            {% if mode == "update" or mode == "add" %}
                <select class="w3-select w3-border" id="category" name="category">
                    <option class="selectCategory" value="default" disabled selected>categorie recept</option>
                    {% for category in categories %}
                        <option class="selectCategory" value="{{category.name}}"
                        {% if mode == "update" %}
                            {% if category.name == value.category.name %}
                                selected
                            {% endif %}
                        {% endif %}
                        >{{category.name}}</option>
                    {% endfor %}
                </select>
            {% elseif mode == "show" %}
                <h4>categorie:</h4>
                <p>{{value.category.name}}</p>
            {% endif %}

            {% if mode == "update" or mode == "add" %}
                <select class="w3-select w3-border" id="type" name="type">
                    <option class="selectType" value="default" disabled selected>type recept</option>
                    {% for type in types %}
                        <option class="selectType" value="{{type.name}}"
                        {% if mode == "update" %}
                            {% if type.name == value.type.name %}
                                selected
                            {% endif %}
                        {% endif %}
                        >{{type.name}}</option>
                    {% endfor %}
                </select>
            {% elseif mode == "show" %}
                <h4>type:</h4>
                <p>{{value.type.name}}</p>
            {% endif %}

            {% if mode == "update" or mode == "add" %}
                <input type="number" id="numberOfEaters"
                    {% if mode == "update" %}
                        value={{nrOfEaters}}
                    {% endif %}
                ><label for="numberOfEaters">eters
                </label>
            {% elseif mode == "show" %}
                <h4>aantal personen:</h4>
                <p>{{nrOfEaters}}</p>
            {% endif %}

        </div>

        {# create the boxes to select an ingredient #}
        <div class="w3-card step ingredients">
            {% if mode == "update" or mode == "add" %}
                <h3>kies je ingredienten</h3>
                <input type="text" id="searchForIngredients" class="w3-input" placeholder="zoek naar ingredienten">
                <br>
                <p>
                    <label class="switch ingredients">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    toon enkel geselecteerde ingredienten
                </p>

                <div class="scrollbox">
                {% for ingredient in ingredients %}
                    {% set added = false %}
                    {% set quantity = 0 %}
                    {% if mode == "update" %}
                        {% for checkedIngr in value.ingredients %}
                            {% if ingredient.name == checkedIngr.ingredient.name %}
                                {% set added = true %}
                                {% set quantity = checkedIngr.quantity*nrOfEaters %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="oneIngredient ingredient{{ingredient.id}}">
                        <input class="w3-check ingredients" type="checkbox" name="ingredients" value="ingredient{{ingredient.id}}"
                        {% if added %}
                            checked
                        {% endif %}
                        />
                        <label for="unit-ingredient{{ingredient.id}}">
                        <input type="number" step="0.01" class="unit" name="unit-ingredient{{ingredient.id}}"
                        {% if added %}
                            value={{quantity}}
                        {% else %}
                            disabled
                        {% endif %}
                        />
                        {{ingredient.unit.name}}</label>
                        <label for="ingredient{{ingredient.id}}">{{ingredient.name}}</label>
                    </div>
                {% endfor %}
                </div>
            {% elseif mode == "show" %}
                <h4>ingredienten:</h4>
                {% set prevRayon = "" %}
                {% for ingredient in ingredients %}
                    {% if prevRayon != ingredient.ingredient.rayon.name %}
                        {% if prevRayon != "" %}
                            </ul>
                        {% endif %}
                        <p>{{ingredient.ingredient.rayon.name}}</p>
                        {% set prevRayon = ingredient.ingredient.rayon.name %}
                        <ul>
                    {% endif %}
                    <li>{{ingredient.quantity*nrOfEaters}} {{ingredient.ingredient.unit.name}} {{ingredient.ingredient.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>

        <div class="w3-card step herbs">
            {% if mode == "update" or mode == "add" %}
                <h3>kies je kruiden</h3>
                <input type="text" id="searchForHerbs" class="w3-input" placeholder="zoek naar kruiden">
                <br>
                <p>
                    <label class="switch herbs">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    toon enkel geselecteerde kruiden
                </p>
                
                <div class="scrollbox">
                {% for herb in herbs %}
                    {% set added = false %}
                    {% if mode == "update" %}
                        {% for checkedHerb in value.recipeHerb %}
                            {% if herb.name == checkedHerb.herb.name %}
                                {% set added = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="oneHerb herb{{herb.id}}">
                        <input class="w3-check herbs" type="checkbox" name="herbs" value="herb{{herb.id}}"
                        {% if added %}
                            checked
                        {% endif %}
                        />
                        <label for="herb{{herb.id}}">{{herb.name}}</label>
                    </div>
                {% endfor %}
                </div>
            {% elseif mode == "show" %}
                <h4>kruiden:</h4>
                <ul>
                {% for herb in value.recipeHerb %}
                    <li>{{herb.herb.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="w3-card step recipe">
            <h3><label for="recipe">bereidingswijze</label></h3>
            {% if mode == "update" or mode == "add" %}
                <textarea name="recipe" cols="30" rows="10">
                {% if mode == "update"%}{{value.instructions}}{% endif %}
                </textarea>
            {% elseif mode == "show" %}
                <p>{{value.instructions|nl2br}}</p>
            {% endif %}
        </div>

        <!-- confirmation and errors -->
        {% if mode == "update" or mode == "add" %}
            <div class="w3-card step recipe">
                <button class="confirm">
                    {% if mode == "update" %}
                        Pas dit recept aan
                    {% else %}
                        Sla dit recept op
                    {% endif %}
                </button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var mode = "{{mode}}";
        {% if mode == "update" %}
            var slug = "{{value.name}}";
        {% endif %}
    </script>
    <script src="{{ asset('js/recipe.js') }}"></script>
{% endblock %}
