{% extends 'boxes.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset("fullcalendar/packages/core/main.css") }}" rel="stylesheet" />
        <link href="{{ asset("fullcalendar/packages/daygrid/main.css") }}" rel="stylesheet" />

        <script src="{{ asset("fullcalendar/packages/core/main.js") }}"></script>
        <script src="{{ asset("fullcalendar/packages/daygrid/main.js") }}"></script>

        <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ]
            });

            calendar.render();
        });

        </script>
    {% endblock %}

{% block body %}
    <div class="contentwrapper">
        <h1>Plan hier je kampmenu</h1>
        
        <div class="cardwrapper">
            <div class="w3-card step">
                <p>kalender komt hier</p>
                <div id='calendar'></div>

                {# {{dump(value)}} #}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js') }}"></script>
{% endblock %} 
