{% extends 'boxes.html.twig' %}

{% block body %}
    <div class="contentwrapper">

        {# title #}
        <h1>voeg een nieuw kamp toe</h1>

        {# all cards #}
        <div class="cardwrapper">
            <div class="w3-card step generalInformation">
                <h3>algemene info</h3>

                <input type="text" id="name" name="name" class="w3-input" placeholder="naam kamp">

                <input type="number"  id="nrOfParticipants" name="nrOfParticipants" min="00" max="60" placeholder="aantal deelnemers">

                <p>start van het kamp:</p>
                <input type="date" id="startdate" name="startdate" class="w3-input" min={{"now"|date("Y-m-d")}} placeholder="begindatum">
                <input type="time" id="starttime" name="starttime" placeholder="uur">                
                <p>einde van het kamp:</p>
                <input type="date" id="enddate" name="enddate" class="w3-input" min={{"now"|date("Y-m-d")}} placeholder="begindatum">
                <input type="time" id="endtime" name="endtime" placeholder="uur">
                
            </div>

            <div class="w3-card step">
                <h3>kies de maaltijden die je wil voorzien en het uur</h3>
                {% for mealmoment in mealmoments %}
                    <div class="onemealmoment mealmoment{{mealmoment.id}}">
                        <input class="w3-check mealmoments" type="checkbox" name="mealmoments" value="mealmoment{{mealmoment.id}}"/>
                        <input type="time" class="time" name="time-mealmoment{{mealmoment.id}}" disabled>
                        <label for="mealmoment{{mealmoment.id}}">{{mealmoment.name}}</label>
                    </div>
                {% endfor %}
            </div>

            {# card for the confirmation and errors #}
            <div class="w3-card step recipe">
                <button class="confirm">
                        Sla dit kamp op
                </button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/camp.js') }}"></script>
{% endblock %}
