<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Plan-Eet{% endblock %}</title>
        {% block stylesheets %}
          {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    {% block openbody %}
    <body>
    {% endblock %}
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="{{ path('app_homepage') }}" class="w3-bar-item w3-button">Plan-Eet</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                {% if not app.user %}
                     <a href="{{ path('app_register') }}" class="w3-bar-item w3-button">Registreer</a>
                     <a href="{{ path('app_login') }}" class="w3-bar-item w3-button">Login</a>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">Logout</a>
                <div class="w3-dropdown-hover">
                    <button class="w3-bar-item w3-button">Nieuw toevoegen</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ path('add_camp') }}" class="w3-bar-item w3-button">Kamp</a>
                        <a href="{{ path('add_recipe') }}" class="w3-bar-item w3-button">Recepten</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('add_ingredient') }}" class="w3-bar-item w3-button">Ingredienten</a>
                            <a href="{{ path('add_single', {slug: 'rayon'}) }}" class="w3-bar-item w3-button">Rayon</a>
                            <a href="{{ path('add_single', {slug: 'recipeType'}) }}" class="w3-bar-item w3-button">Recept Type</a>
                            <a href="{{ path('add_single', {slug: 'recipeCategory'}) }}" class="w3-bar-item w3-button">Recept Categorie</a>
                            <a href="{{ path('add_single', {slug: 'unit'}) }}" class="w3-bar-item w3-button">Ingredient eenheid</a>
                            <a href="{{ path('add_single', {slug: 'herb'}) }}" class="w3-bar-item w3-button">Kruiden</a>
                            <a href="{{ path('add_single', {slug: 'mealMoment'}) }}" class="w3-bar-item w3-button">Maaltijdmoment</a>
                        {%endif%}
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <button class="w3-bar-item w3-button">Bekijk/pas aan</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ path('show_camps') }}" class="w3-bar-item w3-button">Mijn kampen</a>
                        <a href="{{ path('show_recipes') }}" class="w3-bar-item w3-button">Recepten</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('show_ingredients') }}" class="w3-bar-item w3-button">Ingredienten</a>
                        {%endif%}
                    </div>
                </div>
                {% endif %}
            <a href="#" class="w3-bar-item w3-button">Menu</a>
            <a href="#" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <footer class="w3-center w3-light-grey w3-padding-32">
        <p>Eindwerk van Jana Verlinde | Opleiding webcreators 2019-2020</p>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/functions.js') }}"></script>
    {% endblock %}
    </body>
</html>
