<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Plan-Eet{% endblock %}</title>
        {% block stylesheets %}
          {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% endblock %}
    </head>
    {% block openbody %}
    <body>
    {% endblock %}
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="{{ path('app_homepage') }}" class="w3-bar-item w3-button">Plan-Eet</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                {% if not app.user %}
                     <a href="{{ path('app_register') }}" class="w3-bar-item w3-button">Registreer</a>
                     <a href="{{ path('app_login') }}" class="w3-bar-item w3-button">Login</a>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">Logout</a>
                                    <div class="w3-dropdown-hover">
                    <button class="w3-bar-item w3-button">Kampen</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ path('camps_create') }}" class="w3-bar-item w3-button">Kamp toevoegen</a>
                        <a href="{{ path('camps_index', {time: 'now'}) }}" class="w3-bar-item w3-button">Lopende kampen</a>
                        <a href="{{ path('camps_index', {time: 'future'}) }}" class="w3-bar-item w3-button">Geplande kampen</a>
                        <a href="{{ path('camps_index', {time: 'past'}) }}" class="w3-bar-item w3-button">Afgelopen kampen</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <button class="w3-bar-item w3-button">Recepten</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="{{ path('recipes_create') }}" class="w3-bar-item w3-button">Recept toevoegen</a>
                        <a href="{{ path('recipes_index') }}" class="w3-bar-item w3-button">Alle recepten</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('ingredients_create') }}" class="w3-bar-item w3-button">Ingredient toevoegen</a>
                            <a href="{{ path('ingredients_index') }}" class="w3-bar-item w3-button">Alle ingredienten</a>
                        {%endif%}
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}" class="w3-bar-item w3-button">Admin</a>
                {% endif %}
                <a href="{{ path('app_guide') }}" class="w3-bar-item w3-button">Over deze website</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <footer class="w3-center w3-light-grey w3-padding-32">
        <p>Eindwerk van Jana Verlinde | Opleiding webcreators 2019-2020</p>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/utils/functions.js') }}"></script>
        <script src="{{ asset('js/utils/confirmation.js') }}"></script>
        <script src="{{ asset('js/utils/fetch.js') }}"></script>
        <script src="{{ asset('js/utils/list.js') }}"></script>
        <script src="{{ asset('js/utils/table.js') }}"></script>
    {% endblock %}
    </body>
</html>
