{% block modal_for_remove %}
    <div id="remove-{{value.name}}" class="w3-modal">
        <div class="w3-modal-content">
            <span
                onclick="document.getElementById('remove-{{value.name}}').style.display='none'"
                class="w3-button w3-display-topright"
            >&times;</span>
            <div class="w3-card">
                <p>Ben je zeker dat je dit {{transName}}  wil verwijderen: {{value.name}}?</p>
                <button class="remove-{{class}}" id="remove-{{class}}-{{value.name}}">
                        verwijder dit {{transName}}
                </button>
                <button onclick="document.getElementById('remove-{{value.name}}').style.display='none'">
                        Annuleren
                </button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_for_details %}
    <div id="details-{{value.name}}" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-card">
                <span
                    onclick="document.getElementById('details-{{value.name}}').style.display='none'"
                    class="w3-button w3-display-topright"
                >&times;</span>
                <h5>{{value.name}}</h5>
                <span><i>{{value.suggestion}}</i></span>
                <h6>ingredienten(voor {{nrOfEaters}} personen)</h6>
                <ul>
                    {% for ingr in value.ingredients %}
                        <li>{{ingr.quantity*nrOfEaters}} {{ingr.ingredient.unit.name}} {{ingr.ingredient.name}}</li>
                    {% endfor %}
                </ul>
                <h6>kruiden</h6>
                <ul>
                    {% for herb in value.recipeherb %}
                        <li>{{herb.herb.name}}</li>
                    {% endfor %}
                </ul>
                <h6>bereidingswijze</h6>
                <p>{{value.instructions|nl2br}}</p>
            </div>
        </div>
    </div>
{% endblock %}