{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>voeg een {{name}} toe</h1>
        
        <div class="cardwrapper">
            {% block show_all_names %}
                {{ parent() }}
            {% endblock %}
            <div class="w3-card step">
                <h3>Voeg een nieuw(e) {{name}} toe</h3>
                <input type="text" id="name" name="name" class="w3-input" placeholder="naam {{name}}">
                <button class="confirm">voeg toe</button>
                <ul class="errors"></ul>
                <ul class="success"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var route = "{{ path('api_singlevalue_store', {entityname: entityname}) }}";
        var slug = "{{ entityname }}";
    </script>
    <script src="/js/addSingle.js"></script>
{% endblock %}
