{% extends 'base.html.twig' %}

{% block title %}Hello AddRecipeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/addrecipe.min.css') }}">
{% endblock %}

{% block body %}
    <div class="contentwrapper">
        <h1>voeg een {{name}} toe</h1>
        {# <h1>fout: {{message}} </h1> #}
        
        <div class="cardwrapper">
                <div class="w3-card step">
                    <h3>Deze waarden zitten al in de database:</h3>
                    <input type="text" class="w3-input filterBy" placeholder="zoek een {{name}} ...">
                    <div class="scrollbox">
                        <ul class="w3-ul">
                            {% for value in values %}
                                <li>{{value.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="w3-card step">
                    <h3>Voeg een nieuwe {{name}} toe</h3>
                    <input type="text" id="name" name="name" class="w3-input" placeholder="naam {{name}}">
                    <button class="confirm">voeg toe</button>
                    <ul class="errors"></ul>
                    <ul class="success"></ul>
                </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filter.js') }}"></script>
    <script>
        var route = "{{ API }}";
        var slug = "{{ slug }}";
    </script>
    <script src="/js/addSingle.js"></script>
{% endblock %}
