{% extends 'boxes.html.twig' %}

{% use 'blocks.html.twig' %}

{% block body %}
    <div class="contentwrapper">
        <h1>alle gebruikers</h1>
        <div class="cardwrapper">
            <div class="w3-card step horScrollbox">
                {% block filtertable %}
                    {{ parent() }}
                {% endblock %}
            <table class="w3-table w3-striped w3-bordered" id="tableToSort">
                <thead>
                    <tr class="sortTitles">
                        <th class="sortable">naam</th>
                        <th class="sortable">rol</th>
                        <th class="sortable">aantal kampen aangemaakt</th>
                    </tr>
                </thead>
                <tbody>
                {% for value in values %}
                    <tr>
                    <td>{{value.email}}</td> 
                    <td>
                    {% if "ROLE_ADMIN" in value.roles %}
                        admin
                    {% else %}
                        user
                    {% endif %}
                    </td> 
                        <td>{{ value.camps|length }}</td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {# {{dump(values)}} #}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sorttable.js') }}"></script>
{% endblock %} 