{% extends 'boxes.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="contentwrapper">
        <div class="cardwrapper">
            {% if not app.user %}
            <div class="w3-card step">
                <form method="post">
                <h2 class="h3 mb-3 font-weight-normal">Login in</h2>
                {# <label for="inputEmail">Email</label> #}
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w3-input" placeholder="e-mailadres" required autofocus>
                {# <label for="inputPassword">Password</label> #}
                <input type="password" name="password" id="inputPassword" class="form-control w3-input" placeholder="jouw wachtwoord" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {# See https://symfony.com/doc/current/security/remember_me.html #}
{# 
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div> #}
            

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
                </form>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

            </div>

            {# <div class="w3-card step">
                
                <h2>Registreer</h2>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email, {'attr': {'class': 'w3-input'}}) }}
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'w3-input'}}) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn">Register</button>
                {{ form_end(registrationForm) }}

                {{ form_errors(registrationForm.email) }}
                {{ form_errors(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.agreeTerms) }}

            </div> #}
        
        {% endif %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    </div>
</div>
</form>
{% endblock %}
